.head{
    float: right;
    display: flex;
    padding-right: 10px;
    margin-right: auto;
}
.name{
    padding-left: 15px;
    padding-top:15px;
    font-size: x-large;
    color: whitesmoke;
    padding: auto;
}
.navbar1{
    display: flex;
    justify-content: space-between;
    background-color: rgb(171, 169, 171);
}
.pos{
    float:right;
}
.searchButton{
    width: 45px;
}
.searchInput{
    width: 200px;
}
.search{
    padding-top: 9px;
    border-radius: 5px 5px 5px;
    /* width: px; */
}
body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .header {
    overflow: hidden;
    background-color: #d982d2;
    padding: 10px 10px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 99;
    /* display: flex; */
  }
  
  .header a {
    float: left;
    color: rgb(31, 30, 30);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .header a.active {
    /* padding-top: 15px; */
    background-color: rgb(109, 118, 206);
    color: rgb(238, 238, 238);
    /* height: 30px; */
  }
  
  .header-right {
    float: right;
  }
  
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-right {
       /* height: 15px;  */
      float: none;
    }
  }
  .space{
    display: flex;
    justify-content: space-between;
  }
  .log{
    display: flex;
  }
  * {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
#img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #b9b7b7;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
.content{
  /* align-items: center; */
  /* display: flex; */
  /* width: max-content; */
  /* padding-left: 14%; */
  padding-top: 5%;
  padding-bottom: 5%;
  /* justify-content: space-between; */
}
.scroll{
  float: left;
}
.welcome-msg{
  font-size: 2rem;
    font-family: Verdana, sans-serif;
    padding-bottom: 1rem;
    text-align: center;
    color: black;
}
